@import "tailwindcss";

@media (prefers-color-scheme: dark) {
    html {
        background: black;
    }

    p, a, i, span, h1, h2, h3, h4, h5, h6 {
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    html {
        background: white;
    }

    p, a, i, span, h1, h2, h3, h4, h5, h6 {
        color: black;
    }
}